<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>syssettring</key>
	<array>
		<string>意见反馈</string>
		<string>关于我们</string>
		<string>给我们评分</string>
		<string>wifi传书</string>
		<string>帮助</string>
	</array>
	<key>sns</key>
	<array>
		<string>新浪微博</string>
		<string>腾讯微博</string>
	</array>
</dict>
</plist>
