<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>syssettring</key>
	<array>
		<string>set_feedback</string>
		<string>set_aboutme</string>
		<string>set_rateme</string>
		<string>set_vip</string>
	</array>
	<key>sns</key>
	<array>
		<string>新浪微博</string>
		<string>腾讯微博</string>
	</array>
</dict>
</plist>
